body {
  // padding: 2rem;
  // height: 100vh;
  // background-color: $color-bg;
  // font-family: $font-main;
}
.page__main {
  height: 50vh;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-main;
  margin-top: 75px;
}
